
@{
    ViewData["Title"] = "RecuperarPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Recuperar Contraseña</h1>

@using (Html.BeginForm("RecuperarPassword", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <h5 class="text-center">Ingresa el Correo</h5>

    <br />
    <br />
    <br />
    <hr />
    <br />
    <br />
    <br />

    <input name="email" type="text" placeholder="Email*" />
    <a>Recuperar contraseña</a>
    
    <br />
    <br />
    <br />
    <hr />
    <br />
    <br />
    <br />

    <button class="btn btn-success" type="submit">Enviar</button>

    <br />
    <br />
    <br />


}